@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
#despre_proiect{
    font-size: 30px;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }


  body {
    /* font-family: 'Lucida Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #a1c3ff;
  }

.header{
    /* background-color: #9933cc; */
    /* background-color: #0151cc; */
    background-color: #254de4;
    color: #ffffff;
    padding: 15px;
    font-weight: 600;
    font-size: 1.75em;
    text-indent: 100px;
}

h1, h2{
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

ol{
    list-style-type: hebrew;
}

a{
    text-decoration: none;
}

#bolder{
    font-weight: 550;
    color:black;
}

.subtitlu{
    display: block;
    font-weight:700;
    font-size:1.15em;
    padding-top: 10px;
    margin-bottom: 15px;
}




.topnav {
    /* background-color: #33b5e5; */
    overflow: hidden;
    background-color: #3474e6;
  }

.topnav .container{
    display:flex;
    justify-content: space-between;
    padding: 0 30px;
    
}  
  .topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 00.95em;
  }

  .topnav a.active{
    /* background-color: #0099cc; */
    /* background-color: darkblue; */
    background-color: #0151cc;
    color:white;
}

.topnav a:hover:not(.active){
    /* background-color: #0099cc; */
    /* background-color: darkblue; */
    background-color: #0151cc;
    color: white;
    
}

.menu ul {
    margin-left: 10px;
  }
  
.menu li {
    /* background-color: #33b5e5; */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    padding: 8px;
    margin-bottom: 7px;
    margin-left: 5px;
    background-color: #3474e6;
    color: #ffffff;
  }
  
.menu li:hover {
    /* background-color: darkblue; */
    /* background-color: #0099cc; */
    background-color: #0151cc;
  }
  
.menu{
    position: fixed;
    overflow-x: hidden;
    padding: 8px 0;
    width:auto;
  }

.menu a{
    font-size: 0.95 rem;
}  


.content_mijloc{
    /* background-color: darkblue; */
    /* float:left; */
    margin-left:16.66%;
    width: 58.33%;
    color:black;
    padding:10px 10px 20px;
    text-align: justify;
}

.content_mijloc .subtitlu{
    text-indent: 150px;
}

.content_mijloc p {
    text-indent:30px;
}


#surse_carbohidrati{
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_bbl .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80vh;
    flex-wrap: wrap;
    
}
.content_bbl .container .item{
    background-color: #3474e6;
    color:white;
    flex:1;
    font-size: 0.85em;
    height:minmax(40vh, auto);
    margin:15px;
    padding:10px 0px;
    /* background-color: #254de4; */
    border-radius: 10px;
}

.content_bbl .container .item h2{
    text-align: center;
}

.content_bbl .container .item ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content_bbl .container .item ul li{
    color:white;
    text-align: center;
    margin: 5px;
}

#ipp a, #ird a, #irp a{
    text-decoration: none;
    color: black;
}

div p {
    font-size: 0.95em;
}


table, th, td {
    border: 1px solid black;
  }

tr > th {
    font-size: 1.05 em;
}


td{
    text-align: center;
    font-size: 0.95 em;
}

table{
    margin-top:8px ;
    margin-left:16.66%;
    width: 83.33%;
    border-collapse: collapse;
    
}

.aside {
    /* display: block; */
    /* background-color: #33b5e5; */
    /* float:right; */
    /* margin-left:calc(16.66%+58.33%); */
    background-color: #3474e6;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 25%;
    border-radius: 10px;
  }

.aside li {
    /* list-style-type: none; */
      padding-left: 5px;
      padding-bottom: 5px;
      text-align: justify;
      
  }

/* .aside::after{
    content:"";
    clear:both;
    display:block;
}   */


.bucata1 .container{
    display: flex;
    background-color: aqua;
    flex-shrink: 1;
}
.bucata1 .container .aside{
    justify-self: center;
    align-self: center;
}

.bucata2 .container{
    display: flex;
    background-color: pink;
}

.bucata2 .container .aside{
    justify-self: center;
    align-self: center;
}

.bucata3 .container{
    display: flex;
    background-color: rgb(92, 145, 145);
    justify-content: center;
    align-items: center;
}

.bucata3 .container .aside{
    justify-self: center;
    align-self: center;
}


.bucata4 .container{
    display: flex;
    background-color: rgb(104, 255, 109);
}

.bucata4 .container .aside{
    justify-self: center;
    align-self: center;
}

/* .bucata1 .container aside{
    height: 200px;
} */

 /* For mobile phones: */
/* @media only screen and (max-width: 600px){
    html{
        font-size: 2 vw;
    }
} */

.footer_bbl{
    /* display:flex;
    position: fixed; */
    background-color: aqua;
    /* justify-self: center; */
    text-align: center;
}


@media only screen and (max-width: 800px){
    .topnav .container{
        flex-direction: column;
        
    }
    
    .menu{
        padding-left:0 ;
        position: static;
        width: 100%;
        overflow: hidden;
        
    }
    .menu ul li{
        margin-left: 0;
        text-align: center;
    }

    /* .menu::after{
        content:"";
        clear:both;
        display:block;
    }   */

    .content_mijloc .subtitlu{
        text-indent: 0px;
    }

    .header{
        text-indent: 0;
        text-align: center;
    }

    .content_bbl .container{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .content_bbl .container .item{
        font-size: 0.7em;
        height: auto;
    }
    

    .content_mijloc{
        margin-left: 0;
        width:60%;
    }
    .aside{
        width:40%;
    }
    table{
        margin-left: 0;
        width: 100%;
    }
}