#despre_proiect{
    font-size: 30px;
}
* {
    box-sizing: border-box;
  }
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  /* [class*="col-"] {
    float: left;
    padding: 15px;
  } */

  html {
    font-family: "Lucida Sans", sans-serif;
    font-size: 18px;
  }

.header{
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    font-weight: 600;
    font-size: 1.75em;
}

.subtitlu{
    display: block;
    font-weight:700;
    font-size:1.15em;
    padding-top: 10px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #33b5e5;
  }

  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 00.95em;
  }

  .topnav a.active{
    background-color: #0099cc;
    color:white;
}

.topnav a:hover:not(.active){
    background-color: #0099cc;
    color: white;
}

    /* Change color on hover */
/* .topnav a:hover {
    background-color: #0099cc;
    
  } */

ol{
    list-style-type: hebrew;
}l





.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  }
  
.menu li:hover {
    background-color: #0099cc;
  }
  
.menu{
    position: fixed;
    overflow-x: hidden;
    padding: 8px 0;
  }

.menu a{
    text-decoration: none;
    font-size: 0.95 rem;
}  


#content_mijloc{
    margin-left:16.66%;
    width: 58.33%;
    float:left;
}

.content_bibliografie{
    margin-left: 22%;
    width:78%;
    
}

#ipp a, #ird a, #irp a{
    text-decoration: none;
    color: black;
}

div p {
    font-size: 0.95em;
}

/* .content_macros{
    margin-left:16.66%;
} */

table, th, td {
    border: 1px solid black;
  }

tr > th {
    font-size: 1.05 em;
}


td{
    text-align: center;
    font-size: 0.95 em;
}

table{
    margin-top:8px ;
    margin-left:16.66%;
    width: 83.33%;
    border-collapse: collapse;
    
}

.aside {
    display: block;
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left:calc(16.66%+58.33%);
    width: 25%;
    float:right;
  }

.aside li {
      padding-bottom: 5px;
      text-align: justify;
  }
  
 /* For mobile phones: */
/* @media only screen and (max-width: 600px){
    html{
        font-size: 2 vw;
    }
} */

@media only screen and (max-width: 600px){
    .menu{
        padding-left:0 ;
        
        position: static;
        width: 100%;
        overflow: hidden;
        
    }
    .menu li{
        margin-left: 0;
    }
    .content_bibliografie{
        margin-left: 0;
    }
    #content_mijloc{
        margin-left: 0;
        width: 60%;
    }
    .aside{
        width:40%;
    }
    table{
        margin-left: 0;
        width: 100%;
    }
}

/* [class*="col-"] {
  width: 100%;
} */
/* For tablets: */
/* @media only screen and (min-width: 600px) {
  
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
} */
/* For desktop: */
/* @media only screen and (min-width: 768px) {
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  #despre_proiect{
    visibility: hidden;
  }
} */